@{
    ViewBag.Title = "Home Page";
}
<p>@ViewData["hello"];</p>
<div>
    <div class="col-md-3">dwwwwwwwwwwwww</div>
    <div class="col-md-3">eeeeeeeeee</div>
    <div class="col-md-3">wwwwwwwwwwww</div>
</div>
