@{
    ViewBag.Title = "Home Page";
}

<div class="row container" style="background-color: white;">
    <div class="row col-sm-8">
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-3" style="overflow: hidden;" id="anh"><img src="~/image/t1.jpg" /></div>
            <div class="col-sm-8" id="tin">
                <h3>tieu de</h3>cho thương hiệu Chevrolet và hệ thống đại lý tăng trưởng dài hạn tại Việt Nam,
                thông qua uy tín mang tầm cỡ toàn cầu của GM và thế mạnh của VinFast tại thị trường Việt Nam.
                Chúng tôi tin tưởng hệ thống đại lý giàu kinh nghiệm,
                am hiểu thị trường của Chevrolet sẽ đáp ứng tốt mọi nhu cầu của khách hàng
                và là một kênh phân phối hiệu quả các dòng xe ô tô VinFast”.
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-3" style="overflow: hidden;" id="anh"><img src="~/image/t2.jpg" /></div>
            <div class="col-sm-8" id="tin">
                <h3>tieu de</h3>cho thương hiệu Chevrolet và hệ thống đại lý tăng trưởng dài hạn tại Việt Nam,
                thông qua uy tín mang tầm cỡ toàn cầu của GM và thế mạnh của VinFast tại thị trường Việt Nam.
                Chúng tôi tin tưởng hệ thống đại lý giàu kinh nghiệm,
                am hiểu thị trường của Chevrolet sẽ đáp ứng tốt mọi nhu cầu của khách hàng
                và là một kênh phân phối hiệu quả các dòng xe ô tô VinFast”.
            </div>
        </div>
        <div class="row" style="margin-bottom: 5px;">
            <div class="col-sm-3" style="overflow: hidden;" id="anh"><img src="~/image/t3.jpg" /></div>
            <div class="col-sm-8" id="tin">
                <h3>tieu de</h3>
                cho thương hiệu Chevrolet và hệ thống đại lý tăng trưởng dài hạn tại Việt Nam,
                thông qua uy tín mang tầm cỡ toàn cầu của GM và thế mạnh của VinFast tại thị trường Việt Nam.
                Chúng tôi tin tưởng hệ thống đại lý giàu kinh nghiệm,
                am hiểu thị trường của Chevrolet sẽ đáp ứng tốt mọi nhu cầu của khách hàng
                và là một kênh phân phối hiệu quả các dòng xe ô tô VinFast”.
            </div>
        </div>
    </div>
    <div class="col-sm-4">quang cao google</div>
</div>
<hr color="blue">
<div class="row" id="tinnew">
    <div class="col-sm-4 row">
        <div class="col-sm-4" style="overflow: hidden;"><img src="~/image/t3.jpg" /></div>
        <div class="col-sm-8" id="tin">
            <h3>tieu de</h3>
            cho thương hiệu Chevrolet và hệ thống đại lý tăng trưởng dài hạn tại Việt Nam,
            thông qua uy tín mang tầm cỡ toàn cầu của GM và thế mạnh của VinFast tại thị trường Việt Nam.
            Chúng tôi tin tưởng hệ thống đại lý giàu kinh nghiệm,
            am hiểu thị trường của Chevrolet sẽ đáp ứng tốt mọi nhu cầu của khách hàng
            và là một kênh phân phối hiệu quả các dòng xe ô tô VinFast”.
        </div>
    </div>
    <div class="col-sm-4 row">
        <div class="col-sm-4" style="overflow: hidden;"><img src="~/image/t3.jpg" /></div>
        <div class="col-sm-8" id="tin">
            <h3>tieu de</h3>
            cho thương hiệu Chevrolet và hệ thống đại lý tăng trưởng dài hạn tại Việt Nam,
            thông qua uy tín mang tầm cỡ toàn cầu của GM và thế mạnh của VinFast tại thị trường Việt Nam.
            Chúng tôi tin tưởng hệ thống đại lý giàu kinh nghiệm,
            am hiểu thị trường của Chevrolet sẽ đáp ứng tốt mọi nhu cầu của khách hàng
            và là một kênh phân phối hiệu quả các dòng xe ô tô VinFast”.
        </div>
    </div>
    <div class="col-sm-4 row">
        <div class="col-sm-4" style="overflow: hidden;"><img src="~/image/t3.jpg" /></div>
        <div class="col-sm-8" id="tin">
            <h3>tieu de</h3>
            cho thương hiệu Chevrolet và hệ thống đại lý tăng trưởng dài hạn tại Việt Nam,
            thông qua uy tín mang tầm cỡ toàn cầu của GM và thế mạnh của VinFast tại thị trường Việt Nam.
            Chúng tôi tin tưởng hệ thống đại lý giàu kinh nghiệm,
            am hiểu thị trường của Chevrolet sẽ đáp ứng tốt mọi nhu cầu của khách hàng
            và là một kênh phân phối hiệu quả các dòng xe ô tô VinFast”.
        </div>
    </div>
</div>